<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index,follow" />
    <link rel="icon" href="/img/3003027.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/script.js" defer></script>
    <title>livertc</title>
  </head>
  <section id="main-section" class="video-section">
    <div id="video-grid"></div>
    <div class="button-area">
      <button id="end-button">End Call</button>
      <button id="invite-button">Get Your Room Link</button>
      <button id="share-screen">Share Screen</button>
    </div>
  </section>
</html>
